{% extends "User/base_authentication.html" %}
{% load static %}
{% block content %}

  <section class="min-vh-100">
          <div class="container">
              <div class="row text-white">
                  <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                      <font class="display-4 py-2 text-truncate" color="Black">Login</font>
                      <div class="px-2">
                        <form method="POST" class="justify-content-center" >
                          {% csrf_token %}
                          <br>
                        <div class="text-center ">
                              <div class="col-sm-12">
                                <label for="exampleInputEmail1" class="form-label">Username</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
                              </div>
                            <br>
                              <div class="col-sm-12">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                              </div>
                              <br>
                        </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                      </div>
                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-end">
            <h5>Don't Have an Account? Please <a href="{% url 'user_registration_url' %}">Sign Up</a> </h5>
          </div>
      </div>
  </section>


  <h3>
    <div class="container">
      <div class="form-group">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    </div>
  </h3>

{% endblock %}
