{% extends "User/base_authentication.html" %}

{% block content %}

<section class="min-vh-100">
    <div class="container">
        <div class="row text-white">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                <div class="px-2">
                    <form method="POST" class="justify-content-center">
                        {% csrf_token %}
                        <br>
                        <div class="text-center ">
                            <div class="col-sm-12">
                                <label for="exampleInputPassword1" class="form-label">Verify Phone</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="userentry"
                                       placeholder=" Enter OTP "><br>

                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary">Verify</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
<!--    <div class="d-flex justify-content-end">-->
<!--        <h5>Want to change phone no ? <a href="{% url 'user_registration_url' %}">click here</a></h5>-->
<!--    </div>-->
    </div>
</section>


<h3>
    <div class="container">
        <div class="form-group">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</h3>
{% endblock %}
